@import '_settings.scss';
.column {
    margin: 0 15px;
    flex: 0 0 auto;
    width: 300px;
    height: calc(100% - #{$gap});
    > * {
        background-color: $list-bg-color;
        color: #333;
        padding: 0 8px;
    }

    
    header {
        align-items: center;
        height: 36px;
        line-height: 36px;
        font-size: 16px;
        font-weight: bold;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        cursor: move;
        display: flex;
        .column-title{
            flex: 90%;
            margin-right: 5px;
        }
        input {
            background-color: inherit;
            border: none;
            font-size: 16px;
            font-weight: bold;
            cursor: move;
            &:focus {
                border: 1px solid #86b7fe;
            }
        }
        .column-dropdown {
            flex: 10%;   
            .dropdown-btn{
                padding: 1px 8px;
            }         
            .dropdown-btn:after{
                content: '...';
                border: none;
            }
        }
    }
    footer {
        padding-left: 15px;
        height: 36px;
        line-height: 36px;
        font-size: 16px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .card-ghost {
        transition: transform 0.18s ease;
        transform: rotateZ(5deg)
    }
    
    .card-ghost-drop{
        transition: transform 0.18s ease-in-out;
        transform: rotateZ(0deg)
    }
    .card-drop-preview {
        background-color: rgba(150, 150, 200, 0.1);
        border: 1px dashed #abc;
        margin: 5px;
    }
    
    .add-card-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }
}
