@import '_settings.scss';

.board-content {
	display: flex;
	overflow-x: auto;
	margin: 0 10px 10px;
	&::-webkit-scrollbar {
		-webkit-appearance: none;
	}
	&::-webkit-scrollbar:horizontal {
		height: 11px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: darken($list-bg-color, 15);
		border-radius: 8px;
	}
	.column-drop-preview {
        background-color: rgba(150, 150, 200, 0.1);
        border: 1px dashed #abc;
        margin: 5px 45px 5px 5px;
    }
	.add-new-column {
		width: 300px;
		background-color: #ffffffa3;
		line-height: 30px;
		border-radius: 5px;
		padding: 5px 10px;
		margin: 0 15px;
		&:hover {
			background-color: #ffffffdb;			
		}
		.cancel {
			float: right;
			cursor: pointer;
		}
	}
}